<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vietbando Map</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }
        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
    </style>
</head>
<body>
    <iframe src="http://maps.vietbando.com/maps/?bh=1&tr=1&t=1&st=0&l=13&kv=10.8001738,106.674499&c=1&full=1&cl=243906&sb"></iframe>
</body>
</html>
